.smallImg{
    width: 60px;
    height: 60px;
    position: absolute;
}

.canvasOutput{
    position: absolute;
    width: 60px;
    height: 60px;
}

/* .preview{
    width: 1800px;
    height: 850px;
    border: 1px solid black;
    position: relative;
} */